/** button.scss */

// block
// =====

// regular button

.button {
  appearance: none;
  background: none;
  border: solid 1px $color-black;
  box-sizing: border-box;
  color: $color-black;
  cursor: pointer;
  display: block;
  font-size: 16px;
  height: 3rem;
  line-height: 3rem;
  outline: none;
  padding: 0 1rem;
  position: relative;
  text-align: center;
  transition: background .1s linear;
  user-select: none;
  white-space: nowrap;
  z-index: 1;

  // states

  &:hover {
    background: $color-black;
    color: $color-white;
    transition: background 50ms linear;
  }

  &:active,
  &.is--active {
    background: $color-black;
  }

  @media #{$bp-xxs} {
    display: inline-block;
    vertical-align: middle;
  }

  @media #{$bp-xs} {
    font-size: 18px;
    padding: 0 1.5rem;
  }
}

// button as link

a.button,
a.button:link,
a.button:active,
a.button:visited {
  text-decoration: none;
  cursor: pointer;
  user-select: text;
  -webkit-user-drag: none;
}