/** reset.scss */

// margins & paddings

address,
article,
aside,
audio,
body,
blockquote,
canvas,
cite,
dd,
details,
dl,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
input,
main,
menu,
nav,
ol,
output,
p,
pre,
section,
summary,
table,
ul,
video {
  margin: 0;
  padding: 0;
}

// headline styles

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: normal;
}
