/** breakpoints.scss */

// constants

$bp-xxs-minwidth : 374px;
$bp-xs-minwidth  : 576px;
$bp-s-minwidth  : 768px;
$bp-m-minwidth  : 1024px;
$bp-l-minwidth  : 1200px;
$bp-xl-minwidth : 1441px;

$bp-xs-maxwidth : ($bp-xs-minwidth - 0.01);
$bp-s-maxwidth  : ($bp-m-minwidth - 0.01);
$bp-m-maxwidth  : ($bp-l-minwidth - 0.01);
$bp-l-maxwidth  : ($bp-xl-minwidth - 0.01);

// "fluid" breakpoints

$bp-xxs : "only screen and (min-width: #{$bp-xxs-minwidth})";
$bp-xs  : "only screen and (min-width: #{$bp-xs-minwidth})";
$bp-s  : "only screen and (min-width: #{$bp-s-minwidth})";
$bp-m  : "only screen and (min-width: #{$bp-m-minwidth})";
$bp-l  : "only screen and (min-width: #{$bp-l-minwidth})";
$bp-xl : "only screen and (min-width: #{$bp-xl-minwidth})";

$bp-only-xs : "only screen and (min-width: 0rem) and (max-width: #{$bp-xs-maxwidth})";