/** colors.scss */

// achromatic colors

$color-black       : #0A0A0D;
$color-transparent : rgba(255,255,255,0);
$color-white       : #fff;

// color palette
// =============

// grey

$color-grey-100 : #333333;
$color-grey-80  : #676F76;
$color-grey-60  : #ACA9AD;
$color-grey-20  : #D8D8D8;
$color-grey-05  : #F5F4F4;


$color-blue-100 : #91b8d6;
$color-blue-80 : #a4c4dd;
$color-blue-60 : #b6d0e4;
$color-blue-40 : #ECF3F8;

$color-red-80 : #dfacab;